canvas {
    border: 1px solid #AAAAAA;
}
#palette li {
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.5);
	height: 40px;
	width: 40px;
	font-size: 0px;
	border-radius: 4px;
}
.currentColor {
    border-bottom: 4px solid #AAAAAA;
}
#colorPicker {
    width: 400px;
}

.toolbar {
	float: right;
}
